<head>    
    <link rel="stylesheet" href="/lib/bootstrap.min.css" crossorigin="anonymous"> 
    <script src="/lib/jquery-3.1.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="/lib/tether.min.js"  crossorigin="anonymous"></script>
    <script src="/lib/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<div>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Voting App</a>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="./index">
                    Home 
                    <span class="sr-only">(current)</span>
                </a>
            </li>
                        
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/login" method="POST">
            <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username">
            <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"> 
                Login 
            </button>                    
          </form>
        </div>
    </nav>
    <div class="text-center" style="margin-top: 100">
        <h3 id="note"> Creat your voting poll FREE </h3>
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                    <div id="signup on" style="display: none">
                            <button class="btn btn-outline-success" onclick="signupOn()">
                                <h1> Signup Now </h1>
                            </button>
                    </div>
                    <form style="display: none" action="/signup" method="POST" id="signup" >
                        <span>
                            <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username">
                            <br>
                            <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password">
                            <br>
                        </span>                
                        <button class="btn btn-outline-primary">
                            <h4> Signup</h4>
                        </button>
                    </form>
                    
            </div>  
        </div>    
    </div>
    <nav class="navbar fixed-bottom navbar-inverse bg-primary">
        <div class="row" style="color:white">
            <div class="col-lg-4">
                Design by Yukixoma
                <br>
                <a href="https://github.com/yukixoma" style="color:white" target="_blank"> 
                    Github  
                </a>                                    
            </div>
            <div class="col-lg-4">

            </div>
            <div class="col-lg-4">
                <div class="text-right">
                    Server: NODEJS
                     <br>      
                    Client: HTML, CSS, Javascript
                         
                </div>
            </div>
        </div>             
    </nav>
</div>
<script>
    var note = <%-JSON.stringify(note)%>;    
</script>
<script src="/script/index.js"></script> 
