<head>    
        <link rel="stylesheet" href="/lib/bootstrap.min.css" crossorigin="anonymous"> 
        <script src="/lib/jquery-3.1.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="/lib/tether.min.js"  crossorigin="anonymous"></script>
        <script src="/lib/bootstrap.min.js" crossorigin="anonymous"></script>
    </head>
    <div>
        <nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Voting App</a>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index">
                        Home 
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active" style="display:none" id="manage">
                        <a class="nav-link" href="poll/manage">
                            Poll Manager
                            <span class="sr-only">(current)</span>
                        </a>
                </li>       
              </ul>
              <div id = "login_field">
                    <form class="form-inline my-2 my-lg-0" action="/login" method="POST" id ="login">
                        <input class="form-control mr-sm-2" type="text" name="username" placeholder="Username">
                        <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit"> 
                            Login 
                        </button>                    
                    </form>
              </div>
            </div>
        </nav>
        <div class="row" style="margin-top: 100">
            <div class="col-lg-4"></div>
            <form class="col-lg-4" action="/vote" method="POST" style="text-align: justify; -moz-text-align-last: center; text-align-last: center;" >
                <fieldset class="form-group">
                    <legend class="text-center" id="vote">  </legend>
                    <div id="info" style="display:none">
                            
                    </div>
                    <div id="radio">
                        <!-- Poll option will be here -->   
                    </div>
                    
                    <button class="btn btn-success" type="submit">
                        Submit
                    </button>                              
                </fieldset>
                
            </form>

        </div>
        <nav class="navbar fixed-bottom navbar-inverse bg-primary">
            <div class="row" style="color:white">
                <div class="col-lg-4">
                    Design by Yukixoma
                    <br>
                    <a href="https://github.com/yukixoma" style="color:white" target="_blank"> 
                        Github  
                    </a>                                         
                </div>
                <div class="col-lg-4">
    
                </div>
                <div class="col-lg-4">
                    <div class="text-right">
                        Server: NODEJS
                         <br>      
                        Client: HTML, CSS, Javascript
                             
                    </div>
                </div>
            </div>             
        </nav>
    </div>
    <script>
        var data = <%-JSON.stringify(data)%>;
        var auth = <%-JSON.stringify(auth) %>;          
    </script>
    <script src="/script/poll.js"></script>
    